[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gcsa = "*"
simpleaudio = "*"
tabulate = "*"

[dev-packages]
pytest = "*"
mypy = "*"
isort = "*"
black = "*"

[requires]
